<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper

		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bside.BSIDE.user.persistence.UserMapper">
	
	<!-- 이메일 검증 -->
	<select id="getUserByEmail" resultType="com.bside.BSIDE.user.domain.UserDto">
		SELECT usr_nm as usrNm, eml, usr_nm as usrNm, password, sns_cls_cd as snsClsCd, sns_token as snsToken, gndr_cls_cd as gndrClsCd,
		brdt, join_dtm as joinDtm, last_lgn_dtm as lastLgnDtm, update_dtm as updateDtm, agreement
		FROM BSIDE.user WHERE eml = #{email}
	</select>
	
	<update id="updateUser" parameterType="com.bside.BSIDE.user.domain.UserDto">
		UPDATE BSIDE.user 
		SET
			password = #{password},
			agreement = #{agreement},
			gndr_cls_cd = #{gndrClsCd},
			update_dtm = now()
		WHERE 
			eml = #{email}
	</update>
	
	<delete id="deleteUser" parameterType = "String">
		DELETE FROM BSIDE.user 
		WHERE eml = #{email}
	</delete>
	
	<select id="getUserByEmailPw" resultType="com.bside.BSIDE.user.domain.UserDto">
    	SELECT usr_nm as usrNm, eml, usr_nm as usrNm, password, sns_cls_cd as snsClsCd, sns_token as snsToken, gndr_cls_cd as gndrClsCd,
		brdt, join_dtm as joinDtm, last_lgn_dtm as lastLgnDtm, update_dtm as updateDtm, agreement
    	FROM BSIDE.user WHERE eml = #{email} AND password = #{password}
	</select>
	
	<update id="saveTemporaryPassword" parameterType="com.bside.BSIDE.user.domain.UserDto">
		UPDATE BSIDE.user 
		SET
			password=#{password},
			update_dtm=NOW()
		WHERE 
			eml=#{email}
	</update>
	
	<select id="getUser" resultType="com.bside.BSIDE.user.domain.UserDto">
		SELECT eml
		FROM BSIDE.user 
		WHERE eml LIKE '%@%'
	</select>

	<select id="getUserByUsrNm" resultType="string">
		SELECT usr_nm as usrNm
		FROM BSIDE.user WHERE usr_nm = #{usrNm}
	</select>

	<select id="getPasswordConfirm" resultType="string">
		SELECT password
		FROM BSIDE.user
		WHERE eml = #{email}
	</select>

	
</mapper>